.leetcode-section{

padding:120px 8%;

background:#08111f;

}

.leetcode-wrapper{

max-width:1300px;

margin:auto;

}

.leetcode-heading{

text-align:center;

margin-bottom:60px;

}

.leetcode-heading span{

color:#00E5FF;

font-weight:600;

letter-spacing:2px;

}

.leetcode-heading h2{

font-size:52px;

color:white;

margin:15px 0;

}

.leetcode-heading p{

color:#bdbdbd;

font-size:18px;

}

.leetcode-container{

display:flex;

justify-content:center;

align-items:center;

}

.leetcode-card{

width:100%;

max-width:900px;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

padding:35px;

border-radius:25px;

backdrop-filter:blur(20px);

text-align:center;

transition:.35s;

}

.leetcode-card:hover{

border-color:#00E5FF;

box-shadow:0 0 30px rgba(0,229,255,.25);

}

.leetcode-card h2{

color:white;

margin-bottom:15px;

font-size:32px;

}

.leetcode-card p{

color:#d1d5db;

margin-bottom:30px;

font-size:18px;

}

.leetcode-card span{

color:#00E5FF;

font-weight:600;

}

.leetcode-card img{

width:100%;

border-radius:16px;

display:block;

}

@media(max-width:768px){

.leetcode-section{

padding:90px 20px;

}

.leetcode-heading h2{

font-size:38px;

}

.leetcode-card{

padding:20px;

}

}